- var circle = require('./img/circle.png')

article.features-screen.container-fluid.d-flex.justify-content-center.align-content-center
  img(src=circle, alt="").circle-img.align-self-center
  .features_circle.justify-items-center.align-content-evenly.row
    section.col-2
    section.col-4.features_circle-wrapper
      .features_circle__icon
        img(src=require('./img/speed-icon.png'), alt="" width='225' height="150")
      .features_circle__description
        p поддержка в приложениях многоязычности, разграничения прав доступа на уровне платформы.
    section.col-4.features_circle-wrapper
      .features_circle__icon
        img(src=require('./img/cloud-icon.png'), alt="" width='225' height="150")
      .features_circle__description
        p поддержка в приложениях многоязычности, разграничения прав доступа на уровне платформы.
    section.col-2
    section.col-1
    section.col-4.features_circle-wrapper.mt-3
      .features_circle__icon
        img(src=require('./img/generator-icon.png'), alt="" width='225' height="150")
      .features_circle__description
        p поддержка в приложениях многоязычности, разграничения прав доступа на уровне платформы.
    section.col-2.features_circle-wrapper
      h2.features_circle__heading Преимущества и ключевые особенности
    section.col-4.features_circle-wrapper.mt-3
      .features_circle__icon
        img(src=require('./img/data-icon.png'), alt="" width='225' height="150")
      .features_circle__description
        p поддержка в приложениях многоязычности, разграничения прав доступа на уровне платформы.
    section.col-1
    section.col-12.features_circle-wrapper
      .features_circle__icon
        img(src=require('./img/languages-icon.png'), alt="" width='225' height="150")
      .features_circle__description
        p поддержка в приложениях многоязычности, разграничения прав доступа на уровне платформы.