- var circle = require('./img/circle.png')

.features-bg
  img(src=circle, alt="circle").circle-img.align-self-center
  .features_circle.justify-content-center.align-content-around.align-items-center.row.container.m-auto
    section.col-3
    section.col-3.features_circle-wrapper
      .features_circle__icon
        img(src=require('./img/speed-icon.png'), alt="")
      .features_circle__description
        p поддержка в приложениях многоязычности, разграничения прав доступа на уровне платформы.
    section.col-1
    section.col-3.features_circle-wrapper
      .features_circle__icon
        img(src=require('./img/cloud-icon.png'), alt="")
      .features_circle__description
        p поддержка в приложениях многоязычности, разграничения прав доступа на уровне платформы.
    section.col-2
    //- section.col-1
    section.col-4.features_circle-wrapper.mt-4
      .features_circle__icon
        img(src=require('./img/generator-icon.png'), alt="")
      .features_circle__description
        p поддержка в приложениях многоязычности, разграничения прав доступа на уровне платформы.
    section.col-3.features_circle-wrapper
      h2.features_circle__heading Преимущества и ключевые особенности
    section.col-4.features_circle-wrapper.mt-4
      .features_circle__icon
        img(src=require('./img/data-icon.png'), alt="")
      .features_circle__description
        p поддержка в приложениях многоязычности, разграничения прав доступа на уровне платформы.
    section.col-12.features_circle-wrapper
      .features_circle__icon
        img(src=require('./img/languages-icon.png'), alt="")
      .features_circle__description
        p поддержка в приложениях многоязычности, разграничения прав доступа на уровне платформы.
    //- section.col-12.bg-between-blocks